@font-face {
    font-family: recursivetypetester;
    /* src: url('chrome-extension://__MSG_@@extension_id__/fonts/recursive-sans-var.woff2'); */
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Bungee-Regular.woff2');
}

body:not(.recursivetypetester-disabled) *,
body:not(.recursivetypetester-disabled) *::before,
body:not(.recursivetypetester-disabled) *::after {
    font-family: recursivetypetester !important;
    color: lime;
}