@font-face {
    font-family: hankypankyschnitzelhosen;
    /* src: url('chrome-extension://__MSG_@@extension_id__/fonts/recursive-sans-var.woff2'); */
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Bungee-Regular.woff2');
}

body:not(.hankypankyschnitzelhosen-disabled) *,
body:not(.hankypankyschnitzelhosen-disabled) *::before,
body:not(.hankypankyschnitzelhosen-disabled) *::after {
    font-family: hankypankyschnitzelhosen !important;
    color: hotpink;
}