@font-face {
    font-family: recursivetypetester;
    /* src: url('chrome-extension://__MSG_@@extension_id__/fonts/recursive-sans-var.woff2'); */
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Bungee-Regular.woff2');
}

body:not(.recursivetypetester-disabled) *:not(.icon):not(.Icon):not(.fa):not(.fas):not(.far):not(.fal):not(.fab):not(.font-fontello):not(.glyphicon),
body:not(.recursivetypetester-disabled) *:not(.icon):not(.Icon):not(.fa):not(.fas):not(.far):not(.fal):not(.fab):not(.font-fontello):not(.glyphicon)::before,
body:not(.recursivetypetester-disabled) *:not(.icon):not(.Icon):not(.fa):not(.fas):not(.far):not(.fal):not(.fab):not(.font-fontello):not(.glyphicon)::after {
    font-family: recursivetypetester !important;
    color: hotpink;
}