/* Generic setup */

:root {
    --extension-width: 300px;
}

@font-face {
    /* TODO: load this from JavaScript through FontFaceSet
       so we can re-use recursive-fonts.js */
    font-family: "Recursive Sans";
    src: url("./fonts/recursive-sans-var.woff2");
}

* {
    font-family: "Recursive Sans";
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background: #3c464c;
    width: var(--extension-width);
}

.label-button,
button {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background: none;
    padding: 0.25em;
    margin: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: inherit;
}

.label-button,
.button {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
}


/* General extension styles */

.main-fonts {
    /* display: none; */
    display: block; /* dev */
}

.main-fonts.show {
    /* display: block; */
    display: none; /* dev */
}


/* Activate button */

.main-button {
    display: flex;
}

.activate-fonts {
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
    flex: auto;
    font-size: 1.25em;
}

.activate-fonts.active {
    background: linear-gradient(45deg, rgba(16, 205, 103, 1) 0%, rgba(251, 208, 0, 1) 100%);
}

.show-fonts {
    flex: none;
    margin-left: 0.25em;
}

.show-fonts svg {
    vertical-align: middle;
    width: 1.5em;
    fill: white;
}


/* Form stuff */

fieldset {
    border: none;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
}

fieldset:first-child {
    margin-top: 1em;
}

fieldset>*+* {
    margin-top: 0.25em;
}

input {
    border: none;
    width: 100%;
    padding: 0.25em;
    border-radius: 4px;
}

.select-font {
    display: flex;
}
.select-font-button {
    flex: none;
    margin-left: 0.25em;
    width: 2em;
    overflow: hidden;
}

.select-font-button input {
    opacity: 0;
    height: 0;
    padding: 0;
}